<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring Framework 5 - Beginner to Guru : Spring Boot Jokes App</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Spring Framework 5 - Beginner to Guru</h1>
				<h2 class="subtitle">Spring Boot Jokes App</h2>
			</div>
		</div>
	</section>
</body>
</html>